body
{
	background: linear-gradient(to bottom right, #33ccff 0%, #00ffff 100%);
}
div
{
	padding: 20px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
	margin-top: 50px;
	border-radius: 10px;
}
input[type=email],[type=tel],[type=password],textarea
{
	width: 100%;
	padding: 6px;
	box-sizing: border-box;
	border-left: none;
	border-right: none;
	border-top:none;
}
input[type=submit]
{
	width: 100%;
}
p
{
	text-align: center;
}
h2
{
	color: #00ccff;
}
#A
{
	padding: 6px;
	border-left: none;
	border-right: none;
	border-top:none;
}
input[type=submit]
{
	background: linear-gradient(to bottom right, #33ccff 0%, #00ffff 100%);
	padding: 6px;
	text-transform: uppercase;
	color: white;
}
.hr
{
	float: right;

}